
:root {
    --c1: 22,54,93;
    --c2: 49,109,163;
    --c3: 168, 165, 163;
    --c4: 253, 252, 252;
}
html {
    height: 100%;
}
body {
    background: rgb(22,54,93);
    background: linear-gradient(315deg, rgb(var(--c1)) 0%, rgb(var(--c2)) 100%);
    height: 100%;
    color: rgb(var(--c4));
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgba(var(--c3), 0.2);
    padding: 20px;
    margin: 0px;
    width: calc(100% - 40px);
    height: 150px;
    position: sticky;
    top: 0px;
    left: 0px;
    /* flexbox  */
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 0px 0px 15px 15px;
    margin-bottom: 20px;

    box-shadow: 0px 4px 4px rgba(var(--c1),0.1);
}

h1 {
    color: rgb(var(--c4));
}
img#logo {
    height: 180px;
    width: 180px;
    margin-right: 20px;
    color: rgb(var(--c4));
}

section h2 {
    color: rgb(var(--c4));
    margin: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* flexbox which overflows to rows */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1.5px solid rgb(var(--c1));
    border-radius: 7px;
    background-color: rgba(var(--c1),0.8);
    transition: all 0.2s ease;
}
#djln {
    background-color: #ff6411;
}
nav ul li:hover {
    transform: translate(-2px, -2px);
    background-color: rgba(var(--c2),0.4);
    box-shadow: 6px 2px 4px rgb(var(--c1));
}

nav ul li a {
    color: rgb(var(--c4));
    text-decoration: none;
}


section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(var(--c3),0.3);
    color: rgb(var(--c4));
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(var(--c1),0.2);
    display: hidden;
}